*{
    padding: 0;
    margin: 0;
}
.draggable{
    width: 500px;
    height:500px;
    position: absolute;
    top:50%;
    left:50%;
    margin:-250px 0 0 -250px ;
    background: #000;
    z-index: 1;

}
.draggable.is-dragging{
    opacity: 0.5;
    z-index: 2;
}
.draggable.is-dragging, .draggable:hover{
    cursor: move;
}